# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
env/
venv/
ENV/
*.egg-info/
*.egg

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Testing
.tox/
coverage/
htmlcov/
.nox/
.coverage
.coverage.*
.coverage.xml
.cache
nosetests.xml
junit.xml
pytest/
*.py,cover
workflow_local.bat

# Debug
*.png

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Environment
.env
.env.*
.bat

# Logs
*.log
logs/

# Documentation
_docs/build/
*.db
